@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

html,body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Remove Default Styles */
 
a{
  text-decoration: none;
}

button{
  outline: none;
  border: none;
}

